* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

/* Gradient Background */
.gradient_bg {
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

/* Text Gradient */
.gradient_text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Section Padding and Margin */
.section_padding {
  padding: 4rem 6rem;
}

.section_margin {
  margin: 4rem 6rem;
}

/* Scale Animation */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

/* Responsive Styles */
@media screen and (max-width: 1050px) {
  .section_padding, .section_margin {
      padding: 3rem 4rem;
      margin: 3rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .section_padding, .section_margin {
      padding: 2.5rem 3rem;
      margin: 2.5rem 3rem;
  }

  .gpt3_header-content h1 {
      font-size: 32px;
      line-height: 40px;
  }

  .gpt3_header-content p {
      font-size: 14px;
      line-height: 20px;
  }
}

@media screen and (max-width: 700px) {
  .section_padding, .section_margin {
      padding: 2rem;
      margin: 2rem;
  }

  .gpt3_header-content {
      flex-direction: column;
  }

  .gpt3_header-content h1 {
      font-size: 28px;
      line-height: 34px;
  }

  .gpt3_header-content p {
      font-size: 12px;
      line-height: 18px;
  }

  .gpt3_header-content_input input,
  .gpt3_header-content_input button {
      font-size: 14px;
      line-height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
      padding: 1.5rem;
  }

  .section_margin {
      margin: 1.5rem;
  }

  .gpt3_header-content h1 {
      font-size: 24px;
      line-height: 30px;
  }

  .gpt3_header-content p {
      font-size: 12px;
      line-height: 16px;
  }

  .gpt3_header-content_input input,
  .gpt3_header-content_input button {
      font-size: 12px;
      line-height: 16px;
  }

  .gpt3_navbar {
      padding: 1.5rem;
  }
}
